<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://d3js.org/d3.v4.min.js"></script>

  <title>Play with D3</title>
  <link href="css/styles.css" rel="stylesheet">
</head>
<body>
  <h2>Let's play with D3!</h2>
  <!-- <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script> -->
  <!-- <script src="javascripts/upload.js"></script> -->
  <script src="javascripts/d3script.js"></script>
  <!-- <script src="javascripts/stratify.js"></script> -->
</body>
</html>
